        <nav>
            <ul>
                <li><a href=<%= links.homepage %>>Home</a></li>
                <li><a href=<%= links.about %>>About</a></li>
                <li><a href=<%= links.catalog %>>Course Catalog</a></li>
                <li><a href=<%= links.faculty %>>Faculty Directory</a></li>
                <li><a href=<%= links.demo %>>Middleware Demo</a></li>
            </ul>
        </nav>